@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ClashDisplay", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Makes the animation pause on hover */
.moving-text:hover {
  animation-play-state: paused;
}

/* The animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .moving-text {
    animation: marquee 15s linear infinite;
  }
}

.container {
  width: 100%; /* 或设置为其他具体宽度 */
  position: relative; /* 使子元素绝对定位 */
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 233.33%; /* 高度是宽度的1/3 */
  object-fit: cover; /* 确保图片覆盖整个容器 */
}

